@font-face{
  font-family: Titan One;
  src: url(titan_one.ttf);
}

body{
  color: white;
  font-family: Titan One, Helvetica, sans-serif;
  font-size: 48px;
  background: linear-gradient(45deg, #6c3b8c, #3b86bf);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dashboard{
  margin-left: 0px;
  transition: 0.5s;
}
h1 {
  text-align: center;
}

.signupbutton {
  position: absolute;
  right: 30px;
}
.loginbutton {
  position: absolute;
  right: 120px;
}

.loginbutton, .signupbutton{
  top: 30px;
  background-color: transparent;
  border: solid transparent;
}

.backbutton {
  position: absolute;
  left: 30px;
  top: 30px;
}

.signupform{
  margin: auto;
  background-color: #ffffff14;
  border: 15px double #66d1ff;
  border-radius: 40px 150px;
  width: 70%;
  padding-bottom: 12px;
}

.notesblock{
  visibility: hidden;
  position: absolute;
  z-index: 12;
  left: 19%;
  top: 85px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 110px;
  background-color: #808080;
  border: 15px double #66d1ff;
  border-radius: 40px 150px;
  width: 60%;
  padding-bottom: 12px;
}

.newquery{
  visibility: hidden;
  position: absolute;
  z-index: 12;
  left: 19%;
  top: 30px;
  font-size: 110px;
  background-color: #ffffff52;
  border: 15px double #66d1ff;
  border-radius: 40px 150px;
  width: 60%;
  padding-bottom: 12px;
}

.newquery input{
  font-size: 50px;
  text-align: center;
  border-radius: 15px;
}

.newquerybutton{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  width: 10%;
}

.queryinput{
  width: 70%;
}

.signup{
  text-color: white;
}

.signupcontent{
  margin-right: 12px;
}

input, button {
  color: white;
  border: solid #66d1ff;
  background-color: #ffffff14;
  border-radius: 7px;
  font-family: Titan One, Helvetica, sans-serif;
}

.sidebar{
  font-size: 24px;
  transition: 0.5s;
  position: fixed;
  left: -12px;
  top: -12px;
  height: 100%;
  width: 230px;
  background-color: rgba(0, 0, 0, 0);
  border: 12px solid #bdbdbd
}

.sidebar a{
  display: block;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: gray;
  overflow: hidden;
}

.sidebutton{
  position: fixed;
  z-index: 123;
  top: 12px;
  left: 12px;
}

.bytecard{
  display: inline-block;
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  border: solid #66d1ff;
  background-color: #ffffff14;
  width: 300px;
  text-align: center;
  margin-left: 30px;
}

/* make the scrollbar disappear */

::-webkit-scrollbar
{
    width:0px;
}
::-webkit-scrollbar-track-piece
{
    background-color:transparent;
}

#loadingball{
  position: fixed;
  right: 50%;
  top: 50%
}

#notes{
  font-size: 18px;
}

.popup{
  position: absolute;
  left: 35%;
  right: 35%;
  top: -350px;
  transition: 0.5s;
  height: 300px;
  text-align: center;
  border: solid #66d1ff;
  border-radius: 17px;
  background-color: #81bdfe7a;
}