<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>D.R.A.T.</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/static/images/logo-circle.png">
</head>
<body style="background-image: linear-gradient(135deg, #ff7070, #ff8d5c);
  background-repeat: no-repeat;
  background-attachment: fixed;">
  <script src="/static/script.js"></script>
  <h1>
    <b>{{error}}</b>
  </h1>
</body>
</html>