<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>D.R.A.T.</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/static/google-logo.png">
</head>
<body >
  <script src="/static/script.js"></script>
  
  <h1>
    <b>D.R.A.T.</b>
  </h1>


  <center>
    <div class="signup">
      <button class="signupbutton" onclick="window.location.href='https://drat-learning.aw-dev.repl.co/signup';">
        <img src="/static/google-logo.png" width="40px">
        <br>
        Sign Up!
      </button>
    </div>
  </center>
</body>
</html>
