<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>D.R.A.T.</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/static/images/logo-circle.png">
</head>
<body >
  <script src="/static/script.js"></script>
  <h1>
    <b>Reset Password</b> 
  </h1>
  <button onclick="window.location.href='https://drat-learning.aw-dev.repl.co/';" class="backbutton">
      <b>Back</b>
  </button> 
  <div class="signupform">
    <form action="https://drat-learning.aw-dev.repl.co/resetpassword" method="post" class="signupcontent">
      <center>
        <br>
        Email Address: <input type="email" required name=email autocomplete="off">
        <br>
        <input type="submit" value="Send Password Reset Email">
      </center>
    </form>
  </div>
</body>
</html>