<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>D.R.A.T.</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/static/images/logo-circle.png">

  <script>
    function isEmpty(val){
      return (val === undefined || val == null || val.length <= 0) ? true : false;
    }
    function runonload(){
      response = {{message|tojson|safe}};
      if(!isEmpty(response)){
        document.getElementById("popup").innerHTML = response;
        document.getElementById("popup").style.top = "300px";
        setTimeout(function(){
          document.getElementById("popup").style.top = "-350px";
        }, 2000); 
      }
    }
    window.onload = runonload;
  </script>
</head>
<body >
  
  <h1>
    <b>Sign Up</b> 
  </h1>
  <div class="popup" id="popup">
    This is a test.
  </div>
  <button onclick="window.location.href='https://drat-learning.aw-dev.repl.co/';" class="backbutton">
      <b>Back</b>
  </button> 
  <div class="signupform">
    <form action="https://drat-learning.aw-dev.repl.co/signup" method="post" class="signupcontent">
      <center>
        <br>
        Email Address: <input type="email" required name=email autocomplete="off">
        <br>
        <br>
        Password: <input type="password" required name=password autocomplete="off">
        <br>
        <br>
        Username: <input type="text" required name=username autocomplete="off">
        <br>
        <br>
        <input type="submit" value="Sign Up">
      </center>
    </form>
    <center>
      <button onclick="window.location.href='https://drat-learning.aw-dev.repl.co/login';" style="font-size: 15px;">Log In</button>
    </center>
  </div>
</body>
</html>