<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>D.R.A.T.</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="/static/google-logo.png">
</head>
<body >
  <script src="/static/script.js"></script>
  <h1>
    <b>Sign Up</b> 
  </h1>
  <div class="signupform">
    <form action="https://drat-learning.aw-dev.repl.co/signup" method="post" id="signupform">
      Email Address: <input type="email" required name=email>
      <br>
      Password: <input type="password" required name=password>
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</body>
</html>